a {
  color: black;
  text-decoration: none;
}

a:focus,
a:hover {
  font-weight: bold;
}

body {
  font-family: "Roboto", sans-serif; /* fonts.google.com */
  margin: 0px;
  text-align: center;
}

footer,
h1 {
  background-color: black;
  color: white;
  margin: 0px;
  padding: 10px;
}

nav {
  background-color: var(--primaryColor);
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 10px;
}

nav ul li {
  display: inline;
  margin: 10px;
}

:root {
  --primaryColor: rgba(255, 215, 0, 0.25);
}

/* Classes */

.film_item {
  /* Sync with list_films dimensions */
  border: 0px solid gray;
  border-radius: 5px;
  box-shadow: 5px 5px 10px gray;
  font-size: 0.75em;
  margin: 10px;
  padding: 10px;
  width: 180px; /* Consider padding */
}

.film_item:hover {
  background-color: var(--primaryColor);
  box-shadow: 5px 5px 10px black;
  transition: 0.5s;
}

.film_director,
.film_duration,
.film_language,
.film_name,
.film_rating,
.film_year {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.film_director_info,
.film_duration_info,
.film_language_info,
.film_name_info,
.film_rating_info,
.film_year_info {
  margin-right: 5px;
  font-weight: bold;
}

.film_poster {
  margin-bottom: 10px;
}

.film_poster_data {
  width: 100%;
}

/* IDs */

#list_films {
  /* Sync with film_item dimensions */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 880px; /* 4 items per row */
}

#list_films_end {
  clear: both;
}

/* Responsive design */

@media screen and (max-width: 880px) {
  #list_films {
    width: 660px; /* 3 items per row */
  }
}

@media screen and (max-width: 660px) {
  #list_films {
    width: 440px; /* 2 items per row */
  }
}

@media screen and (max-width: 440px) {
  .film_item {
    width: 100%;
  }

  #list_films {
    width: 80%; /* 1 items per row */
  }
}
